

# Go Build & Dependencies
bin/
terraform-provider-alicloud

# Terraform
.terraform*
terraform.tfstate
terraform.tfplan
./*.tfstate
.terraform.lock.hcl
*.tfvars

# Website
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor

# Vagrant
.vagrant/

# Logs & Temporary Files
*.log
dump.rdb
diff_*.zip
